<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" >


  <appSettings  xdt:Transform="Replace" >
    <add key="DriveProfileName" value="hms"/>
    <add key="cloudProcessPath" value="C:\Program Files\Google\Drive\googledrivesync.exe"/>
    <add key="cloudProcessName" value="googledrivesync"/>
    <add key="connectionAttempts" value="3"/>
    <add key="commpressionFormat" value="ZIP"/>
    <add key="thresholdMeasuringUnit" value="GB"/>
  </appSettings>

  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <!--DEBUG APPSETTINGS-->
    <targets   xdt:Transform="Replace"  >
      <target name="logfile" xsi:type="File" fileName="P:\Resources\Logs\File_Archiver.txt" />
      <target name="logconsole" xsi:type="Console" />
    </targets>
    <rules  xdt:Transform="Replace" >
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
  
</configuration>